@import "tailwindcss";

.box {
  font-family: "Poppins", sans-serif;
  max-width: 1280px;
  margin: auto;
}


.hoverbox:hover {
  opacity: 20;
}

.hoverbox {
  opacity: 0;
}

.bbb {
  box-shadow: 0 0 10px rgb(240, 240, 240);
}

.active {
  color: white;
  border-top: 4px solid #FFA155;
  padding-top: 25px;
}



.activelink {
  color: #454DFD;
}

.activelink::before {
  position: relative;
  bottom: -80px;
  display: flex;
  width: 100px;
  height: 4px;
  background-color: #454DFD;
  content: "";
}